.recipeList {

    .title {

        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
        color: black;


    }

    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        padding-top: 20px;
        background-color: gainsboro;

        .linkitem {
            text-decoration: none;
            color: inherit;
            padding: 10px 15px;

        }
    }

    .cardContainer {
        padding: 10px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
        box-shadow: 0 2px 4px black;
        background-color: whitesmoke;
        height: 100%;
        transition: transform 0.3s ease;

        &:hover {
            transform: translate(-5px);
        }

        .image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;

        }

        .cardHeader {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;

        }

        .recipeInfo {
            gap: 15px;
            margin-bottom: 10px;
            display: flex;



            .tag {
                display: inline-block;
                padding: 5px 10px;
                font-size: 18px;
                color: white;
                border-radius: 5px;

            }

            .level {
                background-color: plum;
            }

            .time {
                background-color: aquamarine;
            }

            .veg {
                background-color: palevioletred;
            }
        }


    }


}